<p>
    <input type="checkbox" [(ngModel)]="isAllSelected" (change)="toggleAllSelect()"> Select All
  </p>
  
  <ul>
    <li *ngFor="let item of itemlist; let i = index">
      <input
        type="checkbox"
        [(ngModel)]="isChecked[i]"
        (change)="onItemChange(item, isChecked[i])"
      >
      {{ item }}
    </li>
  </ul>
  
  <button (click)="clear()">Clear All</button>
  
  <hr/>
  
  <h2>Selected Values (in order):</h2>
  <ul>
    <li *ngFor="let item of selectedItems">
      {{ item }}
    </li>
  </ul>
  